{% extends 'main/base.html' %}
{% load static %}
{% block title %}Рукопожатия{% endblock %}

{% block description %}<p>Моя версии теории 6 рукопажатий</p>{% endblock %}
{% block content %}
    <div class="contact container">

        <p>На самом деле 4. Для нахождения пятого и тем более шестого рукопожатия уйдет слишком много времени,
            так как у API VK есть свои ограничения.<br> Занимется эта штуковина тем, что прокладывает путь через
            друзей от первого пользователя вк, до второго.<br> Фотографии являются ссылками на страницы этих самых людей. Код
        можно посмотреть на гитхабе (ссылка внизу страницы), лежит в файле <em>main/services.py</em>. <br>Там все запаковано в класс,
        есть комментарии и он пригоден для повторного использования.</p>
        <img src="{% static 'main/img/instruction.png' %}" class="img-rounded" alt="">

        {% for element in context %}
            <div class="container">
                <div class="contact-text">
                    <a href="{{ element.id }}"><img src="{{ element.photo }}" class="img-rounded" alt=""></a>
                    <p> {{ element.name }} </p>
                    <img src="{{ element.smile }}" width="200"  alt=""></a>
                </div>
             </div>
        {% endfor %}

        <form method="post">
            <input type="text" placeholder="Введите Id или ник первого человека" class="form-control" name="firstman"><br>
            <input type="text" placeholder="Сюда второго" class="form-control" name="secondman"><br>
            <button class="btn btn-default" type="submit">Ща чекнем</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}