{% extends 'main/base.html' %}
{% load static %}

{% block title %}Резюме{% endblock %}

{% block description %}<p>Python Back-end Junior</p>{% endblock %}

{% block content %}
    <!-- About Us Text -->
    <div class="about-us container">
        <div class="row">
            <div class="about-us-text span12">
                <h4>Образование</h4>
                <p> <strong>АУЭС</strong>: Бакалавр <br> Электроэнергетический факультет, Электроэнергетика <span class="violet">consectetur adipisicing</span></p>
                <h4>Курсы</h4>
                <p>Coursera <strong>Погружение в Python</strong> (Московский физико-технический институт)<br>
                Coursera <strong>ООП и паттерны проектирования в Python</strong> (Московский физико-технический институт)</p>
                <h4>Опыт работы</h4>
                <p>Август 2017 - Январь 2019 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    АО "Казремэнерго" &nbsp;&nbsp;&nbsp; Электрослесарь 5 разряда <br>
                Январь 2019 - По настоящее время &nbsp;&nbsp;&nbsp; АО "Казремэнерго" &nbsp;&nbsp;&nbsp; Мастер цеха КИПиРЗА<br>
                Несмотря на то, что опыт работы нерелевантен в плане Hard skills. Я получил и развил навыки:
                    <ul>
                        <li>Работы в команде, как в качестве исполнителя, так и руководителя.</li>
                        <li>Несения ответственности за выполнение работ первостепенной важности</li>
                        <li>Работы в условиях крайне ограниченного времени.</li>
                    </ul>
                </p>
                <h4>Навыки</h4>
                    <ul>
                        <li>Python</li>
                        <div class="progress progress-info">
                            <div class="bar" style="width: 50%"></div>
                        </div>
                        <p>Базовый</p>
                       <li>SQL, PostgreSQL</li>
                        <div class="progress progress-info">
                            <div class="bar" style="width: 25%"></div>
                        </div>
                        <p>Начальный</p>
                        <li>HTML5, CSS</li>
                        <div class="progress progress-info">
                            <div class="bar" style="width: 25%"></div>
                        </div>
                        <p>Начальный</p>
                        <li>Django, Git, Linux</li>
                        <div class="progress progress-info">
                            <div class="bar" style="width: 25%"></div>
                        </div>
                        <p>Начальный</p>
                        <li>ООП</li>
                        <div class="progress progress-info">
                            <div class="bar" style="width: 25%"></div>
                        </div>
                        <p>Начальный</p>
                    </ul>
                <h4>О себе</h4>
                <p>В работе организован, последователен. Всю выполняемую работу и получаемую информацию стараюсь структурировать
                и оптимизировать. <br> Вне работы часто организовывал импровизированные тимбилдинги и неформальные встречи коллег.</p>

            </div>
        </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials container">
        <div class="testimonials-title">
            <h3>Отзывы коллег</h3>
        </div>
        <div class="row">
            <div class="testimonial-list span12">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active" id="A">
                            <img src="{% static 'main/img/testimonials/1.jpg' %}" alt="">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur..."<br /><span class="violet">Lorem Ipsum, dolor.co.uk</span></p>
                        </div>
                        <div class="tab-pane" id="B">
                            <img src="{% static 'main/img/testimonials/2.jpg' %}" alt="">
                            <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."<br /><span class="violet">Minim Veniam, nostrud.com</span></p>
                        </div>
                        <div class="tab-pane" id="C">
                            <img src="{% static 'main/img/testimonials/3.jpg' %}" alt="">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur..."<br /><span class="violet">Lorem Ipsum, dolor.co.uk</span></p>
                        </div>
                        <div class="tab-pane" id="D">
                            <img src="{% static 'main/img/testimonials/1.jpg' %}" title="" alt="">
                            <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."<br /><span class="violet">Minim Veniam, nostrud.com</span></p>
                        </div>
                    </div>
                   <ul class="nav nav-tabs">
                       <li class="active"><a href="#A" data-toggle="tab"></a></li>
                       <li class=""><a href="#B" data-toggle="tab"></a></li>
                       <li class=""><a href="#C" data-toggle="tab"></a></li>
                       <li class=""><a href="#D" data-toggle="tab"></a></li>
                   </ul>
               </div>
            </div>
        </div>
    </div>

{% endblock %}